<template>
  <div class="dashboard_container">

    <WeatherComponent></WeatherComponent>

  </div>
</template>

<script>
import WeatherComponent from './WeatherComponent.vue'
export default {
  name: 'SmartMirrorDashboard',
  components: {WeatherComponent}
}
</script>

<style>
  .dashboard_container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
  }
</style>

