<template>
    <div>
        <div v-if="weatherData">
            <h1>{{weatherData.main}}</h1>
            <p>{{weatherData.description}}</p>
        </div>
        <div v-else>
            loading...
        </div>
    </div>

</template>


<script>
import axios from 'axios'

export default {
    data() {
        return {
            weatherData: null,
            error: null,
        }
    },
    created() {
        this.getWeatherData();
    },
    methods: {
        async getWeatherData() {
            try {
                let weatherResponse = await axios.get("https://api.openweathermap.org/data/2.5/weather?q=d%C3%BCsseldorf&appid={your_app_key}");

                if(!weatherResponse){
                    this.error = "Leider konnten wir zu deinem Ort keine passenden Wettervorhersagen finden!"
                   return;
                }

                this.weatherData = weatherResponse.data.weather[0];
            }catch(error) {

                this.error = error.message;

            }

        }
    }

}
</script>