<template>
  <div id="app">
    <SmartMirrorDashboard/>
  </div>
</template>

<script>
import SmartMirrorDashboard from './components/SmartMirrorDashboard.vue'

export default {
  name: 'app',
  components: {
    SmartMirrorDashboard
  }
}
</script>
